body {
    font-family: Verdana
}

.flash-message {
    animation: hideAfter 3s forwards;
}

@keyframes hideAfter {
    0%, 99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}